# Ignore everything by default
*

# =========================
# ROOT FILES
# =========================

# Allow all root-level files
!/*
# Ignore all root directories
*/**

# =========================
# SUBFOLDER ALLOWED FILES
# =========================

# Allow directories themselves
!*/

!n0ctos-keyring/**

# don't ignore the deploy directory
!/__deployed__/
!/__deployed__/**


# Allow only these files inside subfolders
!*/PKGBUILD
!*/.SRCINFO
!*/*.cfg/**